@import './base.css';

button, input[type=button], input[type=submit] {
  cursor: pointer;
  border: 1px solid var(--color-primary);
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  outline: none;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-light);
    color: white;
  }

  &.button-primary {
    background-color: var(--color-primary);
    color: white;

    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}

input[type=text]
, input[type=password]
, input[type=number]
, input[type=tel]
, input[type=email]
, textarea
, select
{
  padding: 8px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  margin: 0 10px 10px 0;
  /* color: var(--color-primary); */
  color: #333;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}
