@import './base.css';

button, input[type=button], input[type=submit] {
  cursor: pointer;
  border: 1px solid var(--color-primary);
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  outline: none;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-light);
    color: white;
  }

  &.button-primary {
    background-color: var(--color-primary);
    color: white;

    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}

input[type=text]
, input[type=password]
, input[type=number]
, input[type=tel]
, input[type=email]
, textarea
, select
{
  padding: 8px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  margin: 0 10px 10px 0;
  /* color: var(--color-primary); */
  color: #333;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}

/* ================================ Markdown START ================================ */

.md-preview h1 {
  padding: 10px 0;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid #999;
  font-weight: bold;
}
.md-preview h2 {
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.md-preview h3 {
  padding: 8px 0;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
.md-preview h4 {
  font-size: 14px;
  margin-bottom: 20px;
}

.md-preview pre {
  overflow-x: scroll;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  color: #333;
}
.md-preview blockquote {
  padding-left: 10px;
  border-left: 4px solid #037aff;
  margin-left: 0;
  margin-bottom: 10px;
}
.md-preview table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.md-preview td, th {
  padding: 5px;
  border: 1px solid #ccc;
}

.md-preview {
  p {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 10px;
    li {
      padding: 5px 0;
      list-style: disc;

      p {
        margin-bottom: 0;
      }

      ul {
        li {
          list-style: circle;

          ul {
            li {
              list-style: square;
            }
          }
        }
      }
    }
  }
  a {
    color: #037aff;
    text-decoration: none;
  }

  code {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 14px;
    border: none;
    vertical-align: middle;
    white-space: pre-wrap;
  }

  :not(pre) code {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 4px;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    margin: 0 4px;
    color: #c7254e;
    background-color: #f2f2f2;
  }
}

/* ================================ Markdown END ================================ */
